{% load staticfiles %}
{% include 'css.html' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Curry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Six Revisions">
    <meta name="description" content="How to use the CSS background-size property to make an image fully span the entire viewport.">
  </head>
  
  <!-- navbar -->
  {% include 'nav.html' %}
  <!-- header -->
  <!-- main content -->
  {% block content %}
  {% endblock %}
  {% include 'js.html' %}
  <!-- main content -->