{% load staticfiles %}
<!-- google fonts -->
<link href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css">

<!-- Bootstrap -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'common/css/common.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'common/css/body.css' %}" type="text/css"/>